.menuProfile{
  border: solid 3px saddlebrown;
  border-radius: 10px;
  position: absolute;
  right: 5px;
  top: 25px;
  padding: 20px;
  color: white;
  background-color: rgba(244, 164, 96, 0.9);
}
.menuProfile a{
  color: #d7defa;
}
.menuProfile ul{
  list-style-type: none; /* Remove bullets */

  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
.menuProfile ul li{
  margin-top:5px;
  margin-bottom:5px;
}